<!DOCTYPE html>
<html lang="en">
<head>
	<title>4430 Team Setup</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/team_creation.css' %}">
  <!-- <script type="text/javascript" src = "{% static 'js/team_creation.css' %}"></script> -->
  <script type="text/javascript" src = "{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src = "{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
  <script type="text/javascript" src = "{% static 'vendor/bootstrap/js/popper.js' %}"></script>
  <script type="text/javascript" src = "{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src = "{% static 'vendor/select2/select2.min.js' %}"></script>
  <script type="text/javascript" src = "{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
  <script type="text/javascript" src = "{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
  <script type="text/javascript" src = "{% static 'js/main.js' %}"></script>

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/utils.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

<div class="container-contact100">

  <div class="wrap-contact100" style="font-family: 'Exo 2', sans-serif;">
    <form class="contact100-form validate-form" method="post" enctype='multipart/form-data'>{% csrf_token %}
      
      {% if form.non_field_errors %}
        <ul>
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% endif %}

      {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
          <ul>
            {% for error in hidden_field.errors %}
              <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {{ hidden_field }}
      {% endfor %}

{% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {% if field.errors %}
            <ul>
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ field }}
          {% if field.help_text %}
            <br />{{ field.help_text }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}

      <span class="contact100-form-title">
        <p style = "font-family: 'Exo 2', sans-serif; font-size:30px;">Collabify : Team setup</p>
      </span>
      <p>Note: All fields are required</p>
      <br>

      {{ form.non_field_errors }}
<!--
      <div class="wrap-input100 validate-input" data-validate="Please enter your team name">
        {{ form.team_name.errors }}
        <input class="input100" type="text" name= "team_name" placeholder="Team Name">


          <span class="focus-input100"></span>
      </div>
-->
      <!-- * team description -->
      <!--
      <div class="wrap-input100 validate-input" data-validate = "Please enter your team description">
          {{ form.team_desc.errors }}
        <textarea class="input100" name="team_description" placeholder="Team Description"></textarea>
        
        <span class="focus-input100"></span>
      </div>
      -->
      <!-- team members -->
      <!--
      <div class="validate-input" data-validate="Please select team members">
        {{ form.team_members.errors }}
        <label for="id_team_member">Team Member </label>
        {{ form.team_members }}
      </div>
      -->
      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn", type="submit">
          <span>
            <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
            <p style = "font-family: 'Exo 2', sans-serif; font-size:15px; color:white;">Good to go</p>

          </span>
        </button>
      </div>
    </form>
  </div>
</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
